/* Overarching Styles: */
html,
body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  color: #82311A;
  margin: 0;
}

body {
  display: grid;
  grid-template: auto / 1fr 2fr 1fr;
}

h1 {
  font-size: 1.75em;
  /* padding: 5%; */
  margin: 7%;
}

h2 {
  margin: 0;
  font-size: 1.4em;
}

.token {
  font-size: 1.4em;
}

/* Section Styles: */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center {
  background-color: #E7EAF1;
  padding-bottom: 15%;
}

.sidebar {
  padding-top: 15%;
  background: rgb(231, 234, 241);
  background: linear-gradient(180deg, rgba(231, 234, 241, 1) 30%, rgba(34, 90, 146, 1) 90%);
}

/* Gameboard Styles: */
table {
  table-layout: fixed;
  width: 72%;
  height: 72%;
  border-collapse: collapse;
}

.disabled {
  pointer-events: none;
}

td {
  width: 90px;
  height: 90px;
  border: 0.37rem solid #DBAF3F;
  text-align: center;
  font-size: 3.3em;
  /* border-color: rgb(219, 175, 63); */
  /* background: linear-gradient(180deg, rgba(219, 175, 63, 1) 30%, rgba(130, 49, 26, 1) 70%); */
}

td:first-child {
  border-left-color: transparent;
  border-top-color: transparent;
}

td:nth-of-type(2) {
  border-top-color: transparent;
}

td:nth-of-type(3) {
  border-right-color: transparent;
  border-top-color: transparent;
}

tr:nth-of-type(3) td {
  border-bottom-color: transparent;
}
