/* Overarching Styles: */
html {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #82311A;
}

body {
  height: 100%;
  margin: 0;
  display: grid;
  grid-template: auto / 1fr 2fr 1fr
}

h1 {
  font-size: 1.75em;
  padding: 5%;
}

h2 {
  margin: 0;
}

div {
  font-size: 1.5em;
}

/* Section Styles: */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center {
  background-color: #E7EAF1;
  padding-bottom: 15%;
}

.sidebar {
  padding-top: 20%;
  background: rgb(231, 234, 241);
  background: linear-gradient(180deg, rgba(231, 234, 241, 1) 30%, rgba(34, 90, 146, 1) 90%);
}

/* Gameboard Styles: */
table {
  width: 72%;
  height: 72%;
  border-collapse: collapse;
}

.disabled {
  pointer-events: none;
}

.td {
  width: 24%;
  height: 24%;
  border: 0.4rem solid #DBAF3F;
  text-align: center;
  font-size: 3em;
  /* border-color: rgb(219, 175, 63); */
  /* background: linear-gradient(180deg, rgba(219, 175, 63, 1) 30%, rgba(130, 49, 26, 1) 70%); */
}

/* td::after {
  content: "";
  display: block;
  margin-top: 100%;
} */
td:first-child {
  border-left-color: transparent;
  border-top-color: transparent;
}

td:nth-of-type(2) {
  border-top-color: transparent;
}

td:nth-of-type(3) {
  border-right-color: transparent;
  border-top-color: transparent;
}

tr:nth-of-type(3) td {
  border-bottom-color: transparent;
}

/* COLORADO COLORS
dark blue: #225A92
lighter blue: #4976AE
white-ish: #E7EAF1
dark red: #5C383E
yellow: #DBAF3F
red: #82311A */
